* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(101, 101, 101);
  --secondary-color: rgb(255, 255, 255);
}

html.dark {
  --primary-color: rgb(161, 161, 161);
  --secondary-color: rgb(217, 217, 217);
}

html {
  transition: all 0.4s;
}

html.dark {
  background-color: rgb(37, 37, 37);
  color: var(--primary-color);
}

body {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
  border-radius: 10px;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  height: 100px;
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 60px;
}

.date {
  margin-top: 20px;
  color: gray;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
